:root {
    /* colors */
    --clr-light: #ffffff;
    --clr-bg-main: #E7ECF2;
    --clr-bg-secondary: #F3F6F9;
    --clr-font-main: #A7B1BC;
    --clr-font-secondary: #536273;
    --clr-heading: #122236;
    --clr-border: #EAEEF3;
    --clr-table-header: #03BCD4;
}
